#root {
    --primary: theme(colors.white);
    --secondary: theme(colors.black);
    --special_blue: theme(colors.blue.500);
    --special_green: theme(colors.green.500);
    --primary_special: theme(colors.slate.300);
    --secondary_special: theme(colors.gray.700);
  }

  body {
    font-family: 'Outfit', sans-serif;
}